# Top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
max_line_length = 100
trim_trailing_whitespace = true

# Java files
[*.java]
indent_size = 2
ij_continuation_indent_size = 4
ij_java_imports_layout = *,|,javax.**,java.**,|,$*
ij_java_class_count_to_use_import_on_demand = 999
ij_java_names_count_to_use_import_on_demand = 999

# XML files
[*.xml]
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false

# Batch files
[*.bat]
end_of_line = crlf
